.vscode/**
.vscode-test/**
src/**
!src/analyzer/**
src/analyzer/bin/**
src/analyzer/obj/**
.gitignore
.yarnrc
vscode.proposed.d.ts
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
src/webview/src/**
src/webview/node_modules/**
src/webview/*.json
src/webview/*.js
src/webview/*.ts
!src/webview/dist/**
images/**